[submodule "bin/.vim/bundle/jedi-vim"]
	path = bin/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bin/.vim/pack/flake8/start/vim-flake8"]
	path = bin/.vim/pack/flake8/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bin/.vim/pack/vendor/start/nerdtree"]
	path = bin/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bin/.vim/pack/plugins/start/rust.vim"]
	path = bin/.vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
